body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #d2dc9d url(images/blackgoose.png) no-repeat center 100px fixed;
}

header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background:
    url(images/purpledot.png) left top repeat-y,
    url(images/purpledot.png) right top repeat-y,
    url(images/gooseshadow.png) 90% bottom no-repeat
    rgba(255,255,255,.5);
}

a {
  text-decoration: none;
  color: purple;
}
a:visited {
  color: #937393;
}

a:hover{
  background-color: white;
  color: #c700f2;
}

a:focus{
  background-color: white;
  color: #c700f2;
}

a:active{
  background-color: white;
  color: #ff00ff;
}

h1 {
  font: bold 1.5em Georgia, serif;
  text-shadow: .1em .1em .2em gray;
  color: purple;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #cc6600;
}

dt {
  font-weight: bold;
}

strong {
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#info p {
  font-style: italic;
}

.price {
  font-family: Georgia, serif;
  font-style: italic;
}

p.warning, sup {
  font-size: small;
}

.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
